/* MAIN CONTAINER */
.list-container {
    padding: 10px;
    font-family: system-ui, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 20%; */
}

/* HORIZONTAL MAIN TABS */
.horizontal-tabs {
    display: flex;
    width: 1100px;
    /* flex-direction: column; */
    overflow-x: scroll;
    white-space: nowrap;
    gap: 12px;
    padding-bottom: 10px;
    padding: 10px;
    scrollbar-width: none;
}

.verticaltabs {
    width: 100%;
    padding: 10px;
    border-top: 2px solid rgb(200, 200, 200);
}

.h-tab {
    padding: 10px 18px;
    background: #edf2f7;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    flex-shrink: 0;
    transition: 0.5s;
    border: 1px solid rgb(200, 200, 200);
}

.h-tab:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.h-tab.active {
    background: #3182ce;
    color: #fff;
}

/* SUB CATEGORY GRID */
.sub-grid {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    gap: 15px;
    border-bottom: 2px solid rgb(200, 200, 200);
    padding: 10px;
}

.sub-card {
    display: flex;
    width: fit-content;
    gap: 10px;
    /* justify-content: space-between; */
    align-items: center;
    text-align: center;
    background: #fff;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.sub-card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sub-card img {
    /* width: 100%; */
    height: 50px;
    object-fit: cover;
    border-radius: 8px;
}

.sub-card p {
    /* margin-top: 8px; */
    font-weight: 600;
}

/* POSTS SECTION */
.posts-section {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.post-card {
    display: flex;
    background: white;
    border-radius: 12px;
    /* margin-bottom: 15px; */
    padding: 10px;
    flex-direction: column;
    border: 1px solid rgb(200, 200, 200);
}

.post-card img {
    width: 120px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.post-card .info {
    /* padding-left: 10px; */
    flex: 1;
}

.post-card h3 {
    margin: 0 0 5px 0;
    font-size: 16px;
    font-weight: bold;
}

.post-card p {
    font-size: 14px;
    color: #555;
}

.meta {
    margin-top: 10px;
    display: flex;
    gap: 15px;
    font-size: 13px;
    color: #333;
}

/* Loading / No posts */
.loading,
.no-posts {
    text-align: center;
    padding: 20px;
    color: #666;
    font-weight: 500;
}

@media (max-width: 900px) {
    .horizontal-tabs {
        display: flex;
        flex-direction: row;
        width: 720px;
    }
}

/* MOBILE RESPONSIVE */
@media (max-width: 600px) {
    .post-card {
        flex-direction: column;
        text-align: center;
    }

    .post-card img {
        width: 100%;
        height: 180px;
    }

    .post-card .info {
        padding-left: 0;
        margin-top: 10px;
        text-align: left;
    }

    .list-container {
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        padding: 0px;
    }

    .horizontal-tabs {
        display: flex;
        flex-direction: row;
        width: 500px;
        padding: 7px;
        border-bottom: 2px solid rgb(200, 200, 200);
    }

    .verticaltabs {
        width: 100%;
        border-left: none;
    }

    .sub-card {
        display: flex;
        flex-direction: column;
        /* width: 100px; */
        gap: 5px;
    }

    .sub-card p {
        font-size: 12px;
    }

    .sub-grid {
        display: flex;
        overflow-x: scroll;
        scrollbar-width: none;
        gap: 5px;
        padding: 0px;
        padding-bottom: 10px;
    }

    .h-tab.active {
        background: #3182ce;
        color: #fff;
    }

    .h-tab {
        padding: 5px 9px;
        background: #edf2f7;
        border-radius: 20px;
        cursor: pointer;
        font-weight: 600;
        flex-shrink: 0;
        transition: 0.5s;
        border: 1px solid rgb(200, 200, 200);
    }
}

@media (max-width: 426px) {
    .horizontal-tabs {
        display: flex;
        flex-direction: row;
        width: 425px;
        padding: 7px;
        border-bottom: 2px solid rgb(200, 200, 200);
    }
}

@media (max-width: 376px) {
    .horizontal-tabs {
        display: flex;
        flex-direction: row;
        width: 375px;
        padding: 7px;
        border-bottom: 2px solid rgb(200, 200, 200);
    }
}

@media (max-width: 321px) {
    .horizontal-tabs {
        display: flex;
        flex-direction: row;
        width: 300px;
        padding: 7px;
        border-bottom: 2px solid rgb(200, 200, 200);
    }
}