.schedule-container {
  max-width: 500px;
  margin: 0px auto;
  background: #fff;
  padding: 15px;
  border-radius: 12px;
}

.schedule-container h2 {
  text-align: center;
  color: #540c97;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

textarea {
  resize: none;
  height: 80px;
}

.image-preview {
  margin-top: 10px;
  text-align: center;
}

.image-preview img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.btn {
  background-color: #540c97;
  color: rgb(255, 195, 0);
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  margin-left: 10px;
}

.btn:hover {
  background-color: #9647e0;
  color: rgb(255, 234, 0);
}

@media (max-width: 600px) {
  .schedule-container {
    margin: 10px auto;
    padding: 12px;
    width: 95%;
  }

  .form-group input,
  .form-group textarea {
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }

  .btn {
    font-size: 14px;
  }
}