/* Basic Layout */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #540c97;
  padding: 5px 5px;
  color: white;
  position: relative;
  z-index: 1000;
}

.nav-logo {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(255, 195, 0);
}

/* Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  transition: all 0.3s ease;
}

.nav-links li a {
  color: rgb(255, 195, 0);
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.2s;
}

.nav-links li a:hover {
  color: #ffe082;
}

.nav-links li.active a {
  font-weight: bold;
  text-decoration: underline;
}

/* DROPDOWN */
.dropdown {
  position: relative;
  cursor: pointer;
  color: rgb(255, 195, 0);
}

.dropdown-btn {
  font-size: 1.1rem;
}

.dropdown-menu {
  position: absolute;
  top: 35px;
  left: 0;
  background: #6a28b3;
  padding: 30px;
  border-radius: 8px;
  width: 190px;
  display: none;
  flex-direction: column;
  gap: 10px;
}

.dropdown-menu li a {
  color: white;
  font-size: 1rem;
}

.dropdown-menu.show {
  display: flex;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  width: 25px;
  height: 20px;
}

.hamburger span {
  width: 100%;
  height: 3px;
  background: white;
  border-radius: 5px;
  transition: 0.3s;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

/* MOBILE */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 50px;
    right: 5px;
    background: #540c97;
    flex-direction: column;
    width: 180px;
    border-radius: 8px;
    padding: 15px;
    gap: 12px;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    visibility: hidden;
  }

  .nav-links.open {
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
  }

  /* Dropdown inside mobile */
  .dropdown-menu {
    position: relative;
    background: #6a28b3;
    margin-top: 5px;
    top: 0;
    width: auto;
    padding: 10px;
  }

  .nav-links.open li {
    animation: fadeIn 0.3s ease forwards;
    list-style: none;
  }

  .hamburger {
    display: flex;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
  }
}

/* Smooth Animation */
.nav-links.open li {
  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}